@font-face {
    font-family: homa;
    src: url(font/bhoma.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "homa", sans-serif;
}

body {
    background: url("image.png") no-repeat center center / cover;
}

.card {
    max-width: 470px;
    color: white;
    margin-top: 10px;
    border-radius: 20px;
    padding: 40px 5px;
    text-align: center;

}

.search2 {
    display: flex;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search input {
    direction: rtl;
    border: 0;
    outline: 0;
    background-color: white;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-left: 20px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-img {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    
}

.col img {
    width: 40px;
    margin-left: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;

}


.weather {
    display: none;
    color: white;
}

.location-not-found {
    direction: rtl;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    display: none;
}

.box1 {
    width: 70vw;
    min-height: 100px;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    direction: rtl;
    border-radius: 12px;
    background-color: rgba(0, 6, 41, 0.422);
}

.box2 {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    color: white;
}

.icon-wrapper {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.box1 .calender1 {
    display: flex;
    color: white;
}

.box1 .calender1 img {
    color: white;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    color: white;
    display: inline-block;
    padding: 20px;
}

.data {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 639) {
    .card {
        margin-left: 500px;
    }
    .box1 {
        width: 70vw;
        min-height: 50px;
        padding: 8px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        direction: rtl;
        border-radius: 12px;
        background-color: rgba(0, 6, 41, 0.422);
    }
    .box2 {
        width: 100%;
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 64px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.11);
        color: white;
    }
}
